$branding-blue: #1c174b;
$branding-red: #a41f23;
$xs: 400px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$breakpoints: (
  'xs': (min-width: $xs),
  'sm': (min-width: $sm),
  'md': (min-width: $md),
  'lg': (min-width: $lg),
  'xl': (min-width: $xl),
);

// -- Breakpoints (Media Querys set to boostrap sizes).
@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }

    @else {
        @warn "Couldn't find a breakpoint named `#{$name}`.";
    }
}

* {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

ul,
li,
a,
p {
    padding: 0px;
    margin: 0px;
}

a {
    transition: all 0.5s ease;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.jf-form {
    button[type="submit"] {
        text-transform: uppercase;
        font-weight: 300;
        color: #ffffff;
        padding: 10px 20px;
        display: inline-block;
        border: 3px solid $branding-red;
        border: none;
        background-color: $branding-red;
        font-size: 14px;

        @include breakpoint(md) {
            padding: 10px 40px;
        }

        &:hover {
            color: $branding-blue;
            border-color: $branding-blue;
        }
    }
}

.jf-copyright {
    display: none !important;
}

.jf-thankyou {
    h3 {
        font-size: 22px;
        color: #058405;
    }
}

p.title-large,
.title-large {
    font-size: 46px;
    letter-spacing: -5px;
    font-weight: 700;

    @include breakpoint(md) {
        font-size: 64px;
    }

    @include breakpoint(lg) {
        font-size: 80px;
    }
}

a.custom-button-red {
    text-transform: uppercase;
    font-weight: 300;
    color: $branding-red;
    padding: 10px 20px;
    display: inline-block;
    border: 3px solid $branding-red;
    font-size: 14px;

    @include breakpoint(md) {
        padding: 10px 40px;
    }

    &:hover {
        color: $branding-blue;
        border-color: $branding-blue;
    }
}

a.custom-button-white {
    text-transform: uppercase;
    font-weight: 300;
    color: #ffffff;
    padding: 10px 20px;
    display: block;
    border: 3px solid #ffffff;
    font-size: 14px;

    @include breakpoint(md) {
        padding: 10px 40px;
    }

    &:hover {
        color: $branding-red;
        border-color: $branding-red;
    }
}

.moby {
    background-color: $branding-blue;

    .moby-close {
        background-color: $branding-red;
        color: #ffffff;

        span.moby-close-icon {
            &:before {
                background-color: #ffffff;
            }

            &:after {
                background-color: #ffffff;
            }
        }
    }

    ul {
        li {
            a {
                color: #ffffff;
                font-size: 16px;
                letter-spacing: 1px;
                text-transform: uppercase;
                border-bottom: 1px solid #504b84;
            }
        }
    }
}

.jr-home-closing {
    position: relative;
    background-image: url('../images/home-closing-background.jpg');
    background-size: cover;
    background-position: 50% 50%;
    padding: 160px 0px;
    text-align: center;
    color: #ffffff;

    .home-closing-title {
        padding-bottom: 20px;

        p {
            color: #ffffff;
        }
    }

    .home-closing-subtitle {
        max-width: 580px;
        margin: 0 auto;

        p {
            font-size: 20px;
            font-weight: 300;
            letter-spacing: -0.5px;
        }
    }

    .home-closing-button-area {
        margin-top: 30px;

        a {
            display: inline-block;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 2px;
        }
    }
}

header {
    .top-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #0b0826;
        color: #ffffff;
        font-size: 14px;
        z-index: 1;

        .top-bar-wrapper {
            display: none;
            padding: 10px 0px;

            @include breakpoint(lg) {
                display: flex;
                justify-content: space-between;
            }

            span {
                text-transform: uppercase;
            }

            .left {
                padding-left: 195px;
            }
        }
    }

    .mobile-menu-button {
        display: block;
        height: 73px;
        width: 100%;
        text-align: right;

        @include breakpoint(lg) {
            display: none;
        }

        i {
            position: relative;
            top: 0px;
            font-size: 32px;
            color: $branding-red;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .custom-header {
        .container {
            position: relative;
        }

        .custom-header-wrapper {
            margin-top: 40px;
            display: flex;
            justify-content: flex-start;

            .logo-area {
                background-color: #ffffff;
                padding: 9px 33px 9px 33px;
                border: 1px solid #fefefe;
                position: absolute;
                top: -41px;
                left: 0;
                z-index: 10;
            }

            .menu-area {
                position: relative;
                display: none;

                @include breakpoint(lg) {
                    display: block;
                }

                ul {
                    margin-left: 157px;

                    li {
                        display: inline-block;
                        list-style: none;

                        a {
                            text-transform: uppercase;
                            font-weight: 600;
                            display: block;
                            padding: 29px 30px 20px 30px;
                            border-right: 1px solid #ebebeb;
                            color: #070707;

                            &.active {
                                color: $branding-red;
                            }

                            &:hover {
                                color: $branding-red;
                            }
                        }
                    }
                }
            }
        }

        border-bottom: 2px solid #0b0826;
    }
}

footer {
    background-color: #161616;
    padding: 30px;
    position: relative;

    @include breakpoint(md){
        padding: 15px 30px;
    }

    .footer-scroll-to-top {
        padding-top: 10px;

        .diamond-shape {
            top: 3px;
            position: absolute;
            left: 50%;
            transform: translate(-61%, -50%);
            margin: 0 auto;
            text-align: center;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .footer-wrapper {
        @include breakpoint(md) {
            display: flex;
            justify-content: center;
        }

        ul {
            padding-top: 0px;
            padding-bottom: 5px;
            text-align: center;

            @include breakpoint(md) {
                text-align: unset;
                padding-top: 80px;
                padding-bottom: 0px;
            }

            li {
                list-style: none;
                display: inline-block;
                margin: 0px 15px;

                a {
                    font-size: 14px;
                    font-weight: 600;
                    position: relative;
                    color: #868686;

                    &.active {
                        color: #ffffff;

                        &:after {
                            content: "";
                            position: absolute;
                            bottom: -5px;
                            display: inline-block;
                            height: 1px;
                            width: 100%;
                            background-color: $branding-red;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            @include breakpoint(md) {
                                bottom: -10px;
                            }
                        }
                    }
                }
            }
        }

        img {
            margin: 30px 46px 0px 60px;
            max-width: 100%;
            height: auto;
            display: none;

            @include breakpoint(md) {
                display: block;
            }
        }
    }

    .footer-social-media {
        position: relative;
        margin-top: 25px;
        text-align: center;

        @include breakpoint(md) {
            margin-top: 40px;
        }

        .line {
            background-color: #2e2e2e;
            width: 100%;
            position: absolute;
            top: 10px;
            left: 0px;
            height: 1px;
            z-index: 0;
        }

        a {
            position: relative;
            z-index: 10;
            color: #7b7b7b;
            font-size: 18px;
            padding: 5px 20px;
            border-radius: 5px;
            background-color: #161616;
            border: 2px solid #7b7b7b;

            &:hover {
                color: #3C5A99;
                border-color: #3C5A99;
                background-color: #3C5A99;
                color: #ffffff;
            }

            i {
                font-size: 14px;
                position: relative;
                top: -1px;
                margin-right: 15px;
            }
        }
    }

    .footer-creds {
        margin-top: 20px;

        p {
            font-size: 11px;
            line-height: 20px;
            text-transform: uppercase;
            color: #7b7b7b;
            letter-spacing: 2px;
            text-align: center;
        }

        a {
            color: #7b7b7b;
        }
    }
}

.home {
    // Slider Section
    .owl-carousel {
        position: relative;

        .slide-item {
            position: relative;
            text-align: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;

            .slider-title-small {
                padding-top: 60px;

                p {
                    font-size: 20px;
                    text-transform: uppercase;
                    letter-spacing: -1px;
                    color: #ffffff;
                    font-weight: 300;
                    margin-bottom: 10px;

                    &:after {
                        content: " ";
                        display: block;
                        width: 90px;
                        background-color: $branding-red;
                        height: 1px;
                        margin: 0 auto;
                    }
                }
            }

            .slider-title-large {
                margin-top: 60px;
                margin-bottom: 30px;

                @include breakpoint(md) {
                    margin-top: 130px;
                    margin-bottom: 30px;
                }

                p {
                    color: #ffffff;
                }
            }

            .slider-description {
                margin-bottom: 90px;

                p {
                    font-size: 20px;
                    color: #ffffff;
                    letter-spacing: -1px;
                    font-weight: 300;
                }
            }

            .slider-button-area {
                padding-bottom: 160px;

                a {
                    display: inline-block;
                    padding: 10px 40px;
                }

                i {
                    margin-left: 10px;
                }
            }
        }

        .owl-nav {
            margin: 0px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        .owl-dots {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }

    // Services Section
    .jr-services {
        position: relative;
        background-image: url('../images/services-panel-bg.jpg');
        background-size: cover;
        background-position: 50% 50%;
        margin-bottom: -40px;

        .services-wrapper {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            position: relative;
            z-index: 50;
            bottom: 40px;
        }

        .service-item {
            position: relative;
            color: #ffffff;
            background-color: $branding-blue;
            padding: 30px 30px 15px 30px;
            width: 100%;

            @include breakpoint(md) {
                width: 50%;
            }

            &.red {
                background-color: $branding-red;
            }

            .service-title {
                position: absolute;
                left: 13px;
                top: 9px;

                &.red {
                    span {
                        background-color: $branding-red;
                    }
                }

                span {
                    padding-bottom: 20px;
                    font-size: 40px;
                    letter-spacing: -2.5px;
                    font-weight: 600;
                    background-color: $branding-blue;
                    padding-right: 30px;
                    padding-left: 15px;
                }
            }

            .service-image {
                text-align: center;
                margin: 0 auto;
                padding: 50px;
                border: 3px solid #ffffff;

                img {
                    max-width: 100%;
                }
            }

            .service-crumb {
                margin-top: 15px;

                i {
                    position: relative;
                    top: -2px;
                    font-size: 9px;
                    margin: 0px 10px;
                }
            }
        }

        .service-button-area {
            color: #ffffff;
            text-align: center;
            margin: 60px auto 60px auto;

            a {
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 2px;
            }
        }
    }

    .jr-contact-panel {
        position: relative;
        background-image: url('../images/contact-panel-bg.jpg');
        background-size: cover;
        background-position: 50% 50%;
        overflow: hidden;

        .jr-contact-wrapper {
            padding: 60px 0px;

            @include breakpoint(lg){
                display: flex;
                justify-content: space-between;
            }

            .left {
                p.title-large {
                    position: relative;
                    color: #ffffff;

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        display: inline-block;
                        height: 3px;
                        width: 110%;
                        background-color: $branding-red;
                    }
                }

                p.contact-info {
                    max-width: 400px;
                    margin-top: 60px;
                    color: #ffffff;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 300;
                }

                p.contact-text {
                    margin-top: 30px;
                    max-width: 400px;
                    color: #ffffff;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 300;
                }
            }

            .right {
                max-width: 100%;
                width: 100%;
                position: relative;
                padding-top: 30px;

                @include breakpoint(lg) {
                    max-width: 330px;
                    top: 30px;
                    padding-top: unset;
                }

                .jf-form {
                    color: #ffffff;

                    .control-label {
                        color: #ffffff;
                    }

                    input.form-control,
                    textarea.form-control {
                        background: transparent;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

body.privacy-policy {
    .hero-panel {
        background-image: url('../images/contact-us-image.jpg');
        background-size: cover;
        background-position: 50% 50%;

        h1.title-large {
            margin: 0;
            color: #ffffff;
            text-align: center;
            padding: 160px 0px;
        }
    }

    .content {
        padding: 30px 0px;

        p {
            margin-bottom: 15px;
        }
    }
}

body.contact {
    .hero-panel {
        background-image: url('../images/contact-us-image.jpg');
        background-size: cover;
        background-position: 50% 50%;

        h1.title-large {
            margin: 0;
            color: #ffffff;
            text-align: center;
            padding: 160px 0px;
        }
    }

    .content {
        padding-top: 30px;

        p {
            margin-bottom: 15px;
            font-size: 18px;
            line-height: 32px;
            max-width: 400px;
        }
    }

    #gmap {
        height: 400px;
        width: 100%;
    }
}

body.about {
    .hero-panel {
        background-image: url('../images/about-us-image.jpg');
        background-size: cover;
        background-position: 50% 50%;

        h1.title-large {
            margin: 0;
            color: #ffffff;
            text-align: center;
            padding: 160px 0px;
        }
    }

    .content {
        padding: 60px 0px;

        p {
            font-size: 20px;
            font-weight: 300;
            line-height: 36px;
            margin-bottom: 30px;
        }

        .areas-of-service {
            p {
                margin-bottom: 0px;
            }
        }
    }
}

body.services {
    .hero-panel {
        background-image: url('../images/about-us-image.jpg');
        background-size: cover;
        background-position: 50% 50%;

        h1.title-large {
            margin: 0;
            color: #ffffff;
            text-align: center;
            padding: 160px 0px;
        }
    }

    .content {
        padding: 60px 0px;

        p.text {
            font-size: 20px;
            font-weight: 300;
            line-height: 36px;
            margin-bottom: 30px;
        }

        ul {
            padding-left: 30px;

            li {
                font-size: 20px;
                font-weight: 300;
                line-height: 36px;
            }
        }
    }
}

.home_welcome {
    height: 525px;
    background-image: url('Background_Images/Welcome-Page.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
}

.home_welcome div h2 {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.service img {
    margin-right: 15px;
    margin-bottom: 15px;
}

#reviewstream-footer {
  display: none !important;
}
