* {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

ul,
li,
a,
p {
    padding: 0px;
    margin: 0px;
}

a {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.jf-form {
}

.jf-form button[type="submit"] {
    text-transform: uppercase;
    font-weight: 300;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
    border: 3px solid #a41f23;
    border: none;
    background-color: #a41f23;
    font-size: 14px;
}

@media (min-width: 768px) {
    .jf-form button[type="submit"] {
        padding: 10px 40px;
    }
}

.jf-form button[type="submit"]:hover {
    color: #1c174b;
    border-color: #1c174b;
}

.jf-copyright {
    display: none !important;
}

.jf-thankyou {
}

.jf-thankyou h3 {
    font-size: 22px;
    color: #058405;
}

p.title-large,
.title-large {
    font-size: 46px;
    letter-spacing: -5px;
    font-weight: 700;
}

@media (min-width: 768px) {
    p.title-large,
    .title-large {
        font-size: 64px;
    }
}

@media (min-width: 992px) {
    p.title-large,
    .title-large {
        font-size: 80px;
    }
}

a.custom-button-red {
    text-transform: uppercase;
    font-weight: 300;
    color: #a41f23;
    padding: 10px 20px;
    display: inline-block;
    border: 3px solid #a41f23;
    font-size: 14px;
}

@media (min-width: 768px) {
    a.custom-button-red {
        padding: 10px 40px;
    }
}

a.custom-button-red:hover {
    color: #1c174b;
    border-color: #1c174b;
}

a.custom-button-white {
    text-transform: uppercase;
    font-weight: 300;
    color: #ffffff;
    padding: 10px 20px;
    display: block;
    border: 3px solid #ffffff;
    font-size: 14px;
}

@media (min-width: 768px) {
    a.custom-button-white {
        padding: 10px 40px;
    }
}

a.custom-button-white:hover {
    color: #a41f23;
    border-color: #a41f23;
}

.moby {
    background-color: #1c174b;
}

.moby .moby-close {
    background-color: #a41f23;
    color: #ffffff;
}

.moby .moby-close span.moby-close-icon {
}

.moby .moby-close span.moby-close-icon:before {
    background-color: #ffffff;
}

.moby .moby-close span.moby-close-icon:after {
    background-color: #ffffff;
}

.moby ul {
}

.moby ul li {
}

.moby ul li a {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #504b84;
}

.jr-home-closing {
    position: relative;
    background-image: url("../images/home-closing-background.jpg");
    background-size: cover;
    background-position: 50% 50%;
    padding: 160px 0px;
    text-align: center;
    color: #ffffff;
}

.jr-home-closing .home-closing-title {
    padding-bottom: 20px;
}

.jr-home-closing .home-closing-title p {
    color: #ffffff;
}

.jr-home-closing .home-closing-subtitle {
    max-width: 580px;
    margin: 0 auto;
}

.jr-home-closing .home-closing-subtitle p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.jr-home-closing .home-closing-button-area {
    margin-top: 30px;
}

.jr-home-closing .home-closing-button-area a {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

header {
}

header .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0b0826;
    color: #ffffff;
    font-size: 14px;
    z-index: 1;
}

header .top-bar .top-bar-wrapper {
    display: none;
    padding: 10px 0px;
}

@media (min-width: 992px) {
    header .top-bar .top-bar-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

header .top-bar .top-bar-wrapper span {
    text-transform: uppercase;
}

header .top-bar .top-bar-wrapper .left {
    padding-left: 195px;
}

header .mobile-menu-button {
    display: block;
    height: 73px;
    width: 100%;
    text-align: right;
}

@media (min-width: 992px) {
    header .mobile-menu-button {
        display: none;
    }
}

header .mobile-menu-button i {
    position: relative;
    top: 0px;
    font-size: 32px;
    color: #a41f23;
}

header .mobile-menu-button i:hover {
    cursor: pointer;
}

header .custom-header {
    border-bottom: 2px solid #0b0826;
}

header .custom-header .container {
    position: relative;
}

header .custom-header .custom-header-wrapper {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

header .custom-header .custom-header-wrapper .logo-area {
    background-color: #ffffff;
    padding: 9px 33px 9px 33px;
    border: 1px solid #fefefe;
    position: absolute;
    top: -41px;
    left: 0;
    z-index: 10;
}

header .custom-header .custom-header-wrapper .menu-area {
    position: relative;
    display: none;
}

@media (min-width: 992px) {
    header .custom-header .custom-header-wrapper .menu-area {
        display: block;
    }
}

header .custom-header .custom-header-wrapper .menu-area ul {
    margin-left: 157px;
}

header .custom-header .custom-header-wrapper .menu-area ul li {
    display: inline-block;
    list-style: none;
}

header .custom-header .custom-header-wrapper .menu-area ul li a {
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding: 29px 30px 20px 30px;
    border-right: 1px solid #ebebeb;
    color: #070707;
}

header .custom-header .custom-header-wrapper .menu-area ul li a.active {
    color: #a41f23;
}

header .custom-header .custom-header-wrapper .menu-area ul li a:hover {
    color: #a41f23;
}

footer {
    background-color: #161616;
    padding: 30px;
    position: relative;
}

@media (min-width: 768px) {
    footer {
        padding: 15px 30px;
    }
}

footer .footer-scroll-to-top {
    padding-top: 10px;
}

footer .footer-scroll-to-top .diamond-shape {
    top: 3px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-61%, -50%);
    -ms-transform: translate(-61%, -50%);
    transform: translate(-61%, -50%);
    margin: 0 auto;
    text-align: center;
}

footer .footer-scroll-to-top .diamond-shape:hover {
    cursor: pointer;
}

footer .footer-wrapper {
}

@media (min-width: 768px) {
    footer .footer-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

footer .footer-wrapper ul {
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: center;
}

@media (min-width: 768px) {
    footer .footer-wrapper ul {
        text-align: unset;
        padding-top: 80px;
        padding-bottom: 0px;
    }
}

footer .footer-wrapper ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 15px;
}

footer .footer-wrapper ul li a {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    color: #868686;
}

footer .footer-wrapper ul li a.active {
    color: #ffffff;
}

footer .footer-wrapper ul li a.active:after {
    content: "";
    position: absolute;
    bottom: -5px;
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: #a41f23;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    footer .footer-wrapper ul li a.active:after {
        bottom: -10px;
    }
}

footer .footer-wrapper img {
    margin: 30px 46px 0px 60px;
    max-width: 100%;
    height: auto;
    display: none;
}

@media (min-width: 768px) {
    footer .footer-wrapper img {
        display: block;
    }
}

footer .footer-social-media {
    position: relative;
    margin-top: 25px;
    text-align: center;
}

@media (min-width: 768px) {
    footer .footer-social-media {
        margin-top: 40px;
    }
}

footer .footer-social-media .line {
    background-color: #2e2e2e;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0px;
    height: 1px;
    z-index: 0;
}

footer .footer-social-media a {
    position: relative;
    z-index: 10;
    color: #7b7b7b;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #161616;
    border: 2px solid #7b7b7b;
}

footer .footer-social-media a:hover {
    color: #3C5A99;
    border-color: #3C5A99;
    background-color: #3C5A99;
    color: #ffffff;
}

footer .footer-social-media a i {
    font-size: 14px;
    position: relative;
    top: -1px;
    margin-right: 15px;
}

footer .footer-creds {
    margin-top: 20px;
}

footer .footer-creds p {
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    color: #7b7b7b;
    letter-spacing: 2px;
    text-align: center;
}

footer .footer-creds a {
    color: #7b7b7b;
}

.home {
}

.home .owl-carousel {
    position: relative;
}

.home .owl-carousel .slide-item {
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.home .owl-carousel .slide-item .slider-title-small {
    padding-top: 60px;
}

.home .owl-carousel .slide-item .slider-title-small p {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 10px;
}

.home .owl-carousel .slide-item .slider-title-small p:after {
    content: " ";
    display: block;
    width: 90px;
    background-color: #a41f23;
    height: 1px;
    margin: 0 auto;
}

.home .owl-carousel .slide-item .slider-title-large {
    margin-top: 60px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .home .owl-carousel .slide-item .slider-title-large {
        margin-top: 130px;
        margin-bottom: 30px;
    }
}

.home .owl-carousel .slide-item .slider-title-large p {
    color: #ffffff;
}

.home .owl-carousel .slide-item .slider-description {
    margin-bottom: 90px;
}

.home .owl-carousel .slide-item .slider-description p {
    font-size: 20px;
    color: #ffffff;
    letter-spacing: -1px;
    font-weight: 300;
}

.home .owl-carousel .slide-item .slider-button-area {
    padding-bottom: 160px;
}

.home .owl-carousel .slide-item .slider-button-area a {
    display: inline-block;
    padding: 10px 40px;
}

.home .owl-carousel .slide-item .slider-button-area i {
    margin-left: 10px;
}

.home .owl-carousel .owl-nav {
    margin: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.home .owl-carousel .owl-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.home .jr-services {
    position: relative;
    background-image: url("../images/services-panel-bg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: -40px;
}

.home .jr-services .services-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    z-index: 50;
    bottom: 40px;
}

.home .jr-services .service-item {
    position: relative;
    color: #ffffff;
    background-color: #1c174b;
    padding: 30px 30px 15px 30px;
    width: 100%;
}

@media (min-width: 768px) {
    .home .jr-services .service-item {
        width: 50%;
    }
}

.home .jr-services .service-item.red {
    background-color: #a41f23;
}

.home .jr-services .service-item .service-title {
    position: absolute;
    left: 13px;
    top: 9px;
}

.home .jr-services .service-item .service-title.red {
}

.home .jr-services .service-item .service-title.red span {
    background-color: #a41f23;
}

.home .jr-services .service-item .service-title span {
    padding-bottom: 20px;
    font-size: 40px;
    letter-spacing: -2.5px;
    font-weight: 600;
    background-color: #1c174b;
    padding-right: 30px;
    padding-left: 15px;
}

.home .jr-services .service-item .service-image {
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    border: 3px solid #ffffff;
}

.home .jr-services .service-item .service-image img {
    max-width: 100%;
}

.home .jr-services .service-item .service-crumb {
    margin-top: 15px;
}

.home .jr-services .service-item .service-crumb i {
    position: relative;
    top: -2px;
    font-size: 9px;
    margin: 0px 10px;
}

.home .jr-services .service-button-area {
    color: #ffffff;
    text-align: center;
    margin: 60px auto 60px auto;
}

.home .jr-services .service-button-area a {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

.home .jr-contact-panel {
    position: relative;
    background-image: url("../images/contact-panel-bg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}

.home .jr-contact-panel .jr-contact-wrapper {
    padding: 60px 0px;
}

@media (min-width: 992px) {
    .home .jr-contact-panel .jr-contact-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.home .jr-contact-panel .jr-contact-wrapper .left {
}

.home .jr-contact-panel .jr-contact-wrapper .left p.title-large {
    position: relative;
    color: #ffffff;
}

.home .jr-contact-panel .jr-contact-wrapper .left p.title-large:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    height: 3px;
    width: 110%;
    background-color: #a41f23;
}

.home .jr-contact-panel .jr-contact-wrapper .left p.contact-info {
    max-width: 400px;
    margin-top: 60px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.home .jr-contact-panel .jr-contact-wrapper .left p.contact-text {
    margin-top: 30px;
    max-width: 400px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.home .jr-contact-panel .jr-contact-wrapper .right {
    max-width: 100%;
    width: 100%;
    position: relative;
    padding-top: 30px;
}

@media (min-width: 992px) {
    .home .jr-contact-panel .jr-contact-wrapper .right {
        max-width: 330px;
        top: 30px;
        padding-top: unset;
    }
}

.home .jr-contact-panel .jr-contact-wrapper .right .jf-form {
    color: #ffffff;
}

.home .jr-contact-panel .jr-contact-wrapper .right .jf-form .control-label {
    color: #ffffff;
}

.home .jr-contact-panel .jr-contact-wrapper .right .jf-form input.form-control,
.home .jr-contact-panel .jr-contact-wrapper .right .jf-form textarea.form-control {
    background: transparent;
    color: #ffffff;
}

body.privacy-policy {
}

body.privacy-policy .hero-panel {
    background-image: url("../images/contact-us-image.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

body.privacy-policy .hero-panel h1.title-large {
    margin: 0;
    color: #ffffff;
    text-align: center;
    padding: 160px 0px;
}

body.privacy-policy .content {
    padding: 30px 0px;
}

body.privacy-policy .content p {
    margin-bottom: 15px;
}

body.contact {
}

body.contact .hero-panel {
    background-image: url("../images/contact-us-image.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

body.contact .hero-panel h1.title-large {
    margin: 0;
    color: #ffffff;
    text-align: center;
    padding: 160px 0px;
}

body.contact .content {
    padding-top: 30px;
}

body.contact .content p {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 32px;
    max-width: 400px;
}

body.contact #gmap {
    height: 400px;
    width: 100%;
}

body.about {
}

body.about .hero-panel {
    background-image: url("../images/about-us-image.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

body.about .hero-panel h1.title-large {
    margin: 0;
    color: #ffffff;
    text-align: center;
    padding: 160px 0px;
}

body.about .content {
    padding: 60px 0px;
}

body.about .content p {
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 30px;
}

body.about .content .areas-of-service {
}

body.about .content .areas-of-service p {
    margin-bottom: 0px;
}

body.services {
}

body.services .hero-panel {
    background-image: url("../images/about-us-image.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

body.services .hero-panel h1.title-large {
    margin: 0;
    color: #ffffff;
    text-align: center;
    padding: 160px 0px;
}

body.services .content {
    padding: 60px 0px;
}

body.services .content p.text {
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 30px;
}

body.services .content ul {
    padding-left: 30px;
}

body.services .content ul li {
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
}

.home_welcome {
    height: 525px;
    background-image: url("Background_Images/Welcome-Page.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.home_welcome div h2 {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.service img {
    margin-right: 15px;
    margin-bottom: 15px;
}

#reviewstream-footer {
    display: none !important;
}
